.section {
  display: flex;
  margin-top: 120px;
}

.box {
  display: flex;
  flex-direction: column;
  width: 480px;
}

.nav {
  width: 320px;
}

.navItem {
  height: 64px;

  display: flex;
  align-items: center;
}

.btnsForm {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.btnFormHide {
  display: none;
}

.cancelBtn {
  color: #4c4cff;
  cursor: pointer;
}

.orders {
  box-sizing: border-box;
  border-radius: 40px;
  max-height: 70vh;
  width: 100%;
  overflow: auto;
}

.orderInfo {
  display: flex;
  justify-content: center;
}
