.ordersFeedOnline {
  flex-grow: 1;
}

.ordersWindow {
  width: 100%;
}

.orders {
  display: flex;
  justify-content: space-between;
}

.ordersItem {
  width: 100%;
  max-height: 325px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.orderItem {
  margin-right: 70px;
}

.ordersItemReady {
  color: #00cccc;
}

.total {
  box-sizing: border-box;
  text-shadow: #3333ff80 0 0 10px, #3333ff80 0 0 30px;
}
