.box {
  max-width: 600px;
  width: 100%;
}

.boxHover {
  border: 2px solid rgb(114, 114, 114);
  border-radius: 50px;
}

.constructor {
  justify-content: space-between;
  width: 100%;
  height: 60vh;
}

.totalPrice {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.totalPriceBox {
  display: flex;
  align-items: center;
}

.totalPriceBox > svg {
  width: 33px;
  height: 33px;
}

.scrollBox {
  overflow: auto;
}