.box {
  max-width: 600px;
  width: 100%;
}

.boxHover {
  border: 2px solid rgb(114, 114, 114);
  border-radius: 50px;
}

.constructor {
  justify-content: space-between;
  width: 100%;
  height: 60vh;
}

.totalPrice {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.totalPriceBox {
  display: flex;
  align-items: center;
}

.totalPriceBox > svg {
  width: 33px;
  height: 33px;
}

.scrollBox {
  overflow: auto;
}

.scrollBox::-webkit-scrollbar {
  width: 8px;
}
.scrollBox::-webkit-scrollbar-track {
  background: #2F2F37; 
}
.scrollBox::-webkit-scrollbar-thumb {
  background-color: #8585AD;
  border-radius: 20px;  
  border: 3px; 
}